.editButton:hover {
    color: #1976d2;
}

p {
    margin-right: 20px;
}

.tableContainer {
    max-width: 75%;
}

.MuiTablePagination-displayedRows {
    background-color: white;
}

.MuiDataGrid-menuList {
    color:#1976d2;
}