#distContainer, #inputContainer {
    text-align: center;
}

#kegContainer {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

#trackKegContainer {
    margin-top: 20px;
}

#trackKegs {
    padding-left: 10px;
}
form {
    text-align: center;
}

.form-select {
    width: 75%;
    display: inline;
}

.kegId {
    background-color: white;
    font-size: 25px;
}
.btn-danger {
    margin-left: 10px;
    margin-right: 10px
}

#keg_name, #date_shipped {
    width: 50%;
}
