.side-bar {
    min-width: 200px;
    background-color: #1675d1;
}

#bottomLayoutHeader {
    margin-bottom: 0;
}

#mainDisplay {
    padding-left: 0;
    padding-right: 0;
}

.subHeader {
    border-bottom: solid #004a9f 4px;
    padding-left: 10px;
}

.header {
    border-bottom: solid #004a9f 4px;
    border-top: solid #004a9f 18px;
    padding-left: 0 !important;
}