input:focus {
    outline: none !important;
    /* border-color: #62a3ff; */
}


input {
    margin-bottom: 20px;
    font-size: 18px;
    padding: 10px;
    border-radius: 6px;
}

label {
    padding: 2px 2px 0px 2px;
}

main {
    margin: auto;
}
.form, .header {
    text-align: center;
}

.form {
    padding-top: 15px;
    padding-bottom: 15px;
}

h1 {
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom:18px;
    background-color: #1675d1;
    color: white;
}

#bottomLoginHeader {
    margin-bottom: 15px;
}

body {
    height: 100%;
    background-color: #E1E2E1;
}

