input:focus {
    outline: none !important;
    border-color: blue;
}

input {
    margin-bottom: 20px;
    font-size: 18px;
    padding: 10px;
    border-radius: 6px;
}

label {
    padding: 2px 2px 0px 2px;
}

main {
    margin: auto;
}
.form, .header {
    text-align: center;
}
h1 {
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom:18px;
    background-color: blue;
    color: white;
}
p {
    margin-bottom: 0;
    background-color: lightgray;
    padding-top: 10px;
}

#bottomHeader {
    margin-bottom: 15px;
}